@import url("https://fonts.googleapis.com/css?family=Girassol|Noto+Sans|Slabo+27px&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&display=swap');

:root {
	--header-height: 4rem;

	--first-color: #f35383;
	--first-color-light: #fa92b1;

	--second-color: #e8c571;
	--second-color-light: #f5dca2;

	--title-color: #212529;
	--text-color: #343a40;
	--text-color-light: #6c757d;

	--bg-color: #f8f9fa;
	--bg-color-alt: #eff1f3;

	--color-white: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	/* margin-top: var(--header-height); */
	min-height: calc(100vh - var(--header-height));
	color: var(--text-color);
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--bg-color);
	font-family: 'Fjalla One', sans-serif;
	font-size: 1rem;
}

h1{
    font-family: 'Pacifico', cursive;
}
h2,
h3 {
	font-family: 'Slabo 27px', serif;
	color: var(--title-color);
}

a {
	text-decoration: none;
}

p {
	line-height: 150%;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

/*====== HEADER ======*/
.navbar {
	background-color: var(--first-color-light);
}
.logo {
	height: var(--header-height);
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
}

.logo img {
	height: var(--header-height);
}
.actions {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	align-content: center;
}

.actions-btn {
	font-weight: 500;
	color: var(--bg-color);
}

.actions-btn2 {
	background-color: var(--first-color-light);
	padding: 0.5rem 1rem;
	color: var(--bg-color);
	border-radius: 4px;
	transition: 0.2s;
}

.actions-btn2:hover {
	background-color: var(--first-color);
}

@media (max-width: 991px) {
	.actions,
	.navbar {
	  text-align: center;
	}
	.actions-btn2 {
		margin-left: 12rem;
	}
	.actions-btn {
		margin-left: 12rem;
	}
  }
  
  @media (max-width: 575px) {
	.actions,
	.navbar {
	  text-align: center;
	}
	.actions-btn2 {
		margin-left: 3rem;
	}
	.actions-btn {
		margin-left: 3rem;
	}
  }

/*====== HERO ======*/

.banner {
	padding-top: 120px;
	padding-bottom: 120px;
	width: 100%;
	display: grid;
	place-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	   ),url('../assets/img/banner-min.png');
}

.banner-container {
	padding: 1rem;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.banner-title {
	font-size: 4rem;
	font-weight: 400;
	/* text-transform: uppercase; */
	text-align: center;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-description {
	text-align: center;
	font-weight: 600;
	color: var(--bg-color);
}

.banner-email {
	display: flex;
	justify-content: center;
}

.banner-email-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--second-color-light);
	border-right: 0;
}

.banner-email-input::placeholder {
	color: var(--text-color-light);
}

.banner-email-input:focus,
.banner-email-btn:focus {
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
}

.banner-email-btn {
	background-color: var(--second-color);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
	font-size: 1rem;
}

.banner-text {
	text-align: center;
	color: var(--bg-color);
}

@media (min-width: 768px) {
	.banner {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.banner-title {
		font-size: 5rem;
	}
}

@media (min-width: 1024px) {
	.banner {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}


/*====== SUSCRIPTION ======*/

.explanatory {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	width: 100%;
}

.explanatory-container {
	max-width: 1400px;
	width: 100%;
	display: grid;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

@media (min-width: 1024px) {
	.explanatory-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.explanatory-video  {}

.explanatory-video video {
	width: 100%;
	border-radius: 4px;
}

.explanatory-video iframe {
    width: 100%;
    height: 380px;
    border-radius: 4px;
}

.explanatory-video img {
    width: 40%;
    height: 8rem;
    margin-left: 10rem;
}

.explanatory-description {
	display: flex; 
	flex-direction: column;
	gap: 0.5rem;
    font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 768px) {
    .explanatory-video img {
        height: 4rem;
        margin-left: 6rem;
        margin-top: 0;
    }
    .explanatory-video iframe {
        width: 100%;
        height: 220px;
        border-radius: 4px;
        margin-top: 0;
    }
    .explanatory-description {
        margin-top: 0;
    }
}

.explanatory-title {
	font-size: 2rem;
	font-weight: 800;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.explanatory-idea {
	display: flex;
}

.explanatory-idea-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--first-color-light);
	border-right: 0;
}

.explanatory-idea-input::placeholder {
	color: var(--text-color-light);
}

.explanatory-idea-input:focus,
.explanatory-idea-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.explanatory-idea-btn {
	background-color: var(--first-color-light);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}
/*====== EXPERIENCE =======*/

.experiences-idea {
	display: flex;
}

.experiences-idea-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--second-color-light);
	border-right: 0;
}

.experiences-idea-input::placeholder {
	color: var(--text-color-light);
}

.experiences-idea-input:focus,
.experiences-idea-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.experiences-idea-btn {
	background-color: var(--second-color);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--second-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}
.experiences {
	width: 100%;
	background-color: var(--first-color);
	padding: 4rem 0px;
	border-radius: 4rem;
	margin-bottom: 4rem;
}

.experiences__container {
	display: grid;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/* max-width: 1400px; */
	padding: 2rem;
	gap: 2rem;
}
.experience__rigth {
	background: none;
	border-radius: none;
	overflow: hidden;
	padding: 0;
	box-shadow: none;
}

.experience__left {
	background: none;
	border-radius: none;
	overflow: hidden;
	padding: 0;
	box-shadow: none;
	/* margin: 4rem 2rem 2rem 2rem */
}

.experience__left h3 {
	color: #fffbf7;
    font-family: "Slabo 27px", "Noto Sans";
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: left;
}

.experience__left p {
	color: #fffbf7;
    font-family: "Noto Sans";
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}
.experience__content {
	padding: 1rem;
    color: var(--first-color);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.experiences__container_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 4rem 2rem 2rem 2rem;
}
  .experiences__container_brand > .brand {
    margin-right: 8px;
	margin-top: 6rem;
    margin-bottom: 16px;
}

@media (max-width:  768px) {
    .experiences {
        border-radius: 0;
    }

	.experiences__container_brand > .brand{
		margin: 1rem;
		flex-direction: column;
		column-count: 2;
	}

}

@media (min-width: 768px) {
	.experiences {
        border-radius: 2rem;
    }
	.experiences__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.experiences__container_brand > .brand{
		margin: 1rem;
		flex-direction: column;
		column-count: 2;
	}

	.experience__left {
		margin: 4rem 2rem 2rem 2rem;
	}
}


/*====== FEATURES ======*/

.features {
	width: 100%;
	background-color: var(--second-color-light);
	padding: 4rem 0px;
    border-radius: 4rem;
	margin-bottom: 4rem;
}

.features__container {
	display: grid;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	padding: 2rem;
	gap: 2rem;
}

.feature {
	justify-content: center;
	background: #FFF;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.feature__content {
	padding: 1rem;
    color: var(--first-color);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.feature__content img {
    height: 4rem;
}
.feature__content a {
    color: var(--first-color-light);
}

.feature__img {
	display: flex;
	width: 100%;
	height: 20rem;
	object-fit: contain;
	align-content: center;
	align-items: center;
}


@media (max-width:  768px) {
    .features {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
	.features__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.feature__img img {
		height: 250px;
	}
	.features {
        border-radius: 2rem;
    }
}

@media (min-width: 1024px) {
	.feature__img img {
		height: 250px;
	}
}

/*====== FOOTER ======*/

.footer {
	width: 100%;
	padding: 1rem;
	/* display: flex; */
	justify-content: center;
}

.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.footer .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: overflow-position;
    align-items: self-position;
}
.footer .group-1 .box figure img{
    /*width: 350px;*/
    min-width: 100%;
    max-width: 100%;
}
.footer .group-1 .box h2{
    color: var(--second-color);
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .group-1 .box p{
    color: var(--first-color-light);
    margin-bottom: 10px;
}

.footer .group-1 .box p:hover{
	color: var(--second-color-light);
}
.footer .group-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    background-color: var(--first-color-light);
    text-align: center;
    transition: all 300ms ease;
}
.footer .group-1 .red-social a:hover{
    color: var(--second-color-light);
}
.footer .group-2 {
    background-color: var(--first-color-light);
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}
.footer .group-2 small{
    font-size: 1rem;
}

.footer .group-3 {
	background-color: var(--bg-color);
    padding: 15px 10px;
    text-align: center;
    color: var(--first-color-light);
}

.footer .group-3 small{
	font-size: 1rem;
}

.icons{
    display: inline-block;
    column-gap: 25px;
    line-height: 60px;
}
.icon{
    width: 60px;
    height: 60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #ffff;
    border-radius: 50%;
    outline: 2px solid #ffff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 25ms;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: shake 25ms;
}
.icon--instagram:hover{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
    #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}
.icon--twitter:hover{
    background-image: radial-gradient(circle at 30% 107%, #1da1f2 0%, #1da1f2 100%);
    /*background-color: #1da1f2;*/
    outline-color: #1da1f2;
}
.icon--facebook:hover{
    background-image: radial-gradient(circle at 30% 107%, #3b5998 0%, #3b5998 100%);
    /*background-color: #3b5998;*/
    outline-color: #3b5998;
}
.icon--youtube:hover{
    background-image: radial-gradient(circle at 30% 107%, #c4302b 0%, #c4302b 100%);
    /*background-color: #c4302b;*/
    outline-color: #c4302b;
}
@media screen and (max-width:800px) {
    .footer .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
	
	/* .footer .group-1 .box figure img{
		min-width: 100%;
		max-width: 100%;
	} */
}