@import url("https://fonts.googleapis.com/css?family=Girassol|Noto+Sans|Slabo+27px&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&display=swap');

:root {
	--header-height: 5rem;

	--first-color: #f35383;
	--first-color-light: #fa92b1;

	--second-color: #e8c571;
	--second-color-light: #f5dca2;

	--title-color: #212529;
	--text-color: #343a40;
	--text-color-light: #6c757d;

	--bg-color: #f8f9fa;
	--bg-color-alt: #eff1f3;

	--color-white: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin-top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	color: var(--text-color);
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--bg-color);
	font-family: 'Fjalla One', sans-serif;
	font-size: 1rem;
}

h1{
    font-family: 'Pacifico', cursive;
}
h2,
h3 {
	font-family: 'Slabo 27px', serif;
	color: var(--title-color);
}

a {
	text-decoration: none;
}

p {
	line-height: 150%;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

/*====== HEADER ======*/

.header {
	height: var(--header-height);
	background-color: var(--bg-color);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.logo {
	height: var(--header-height);
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
}

.logo img {
	padding: 1rem;
	height: var(--header-height);
}

.nav {
	max-width: 1400px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: space-around;
}

.nav__list {
	display: flex;
	gap: 2.5rem;
}

.nav__link {
	color: var(--text-color-light);
	font-weight: 600;
}

.actions {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.actions-btn {
	font-weight: 500;
}

.actions-btn2 {
	background-color: var(--first-color-light);
	padding: 0.5rem 1rem;
	color: #FFF;
	border-radius: 4px;
	transition: 0.2s;
}

.actions-btn2:hover {
	background-color: var(--first-color);
}

/*====== HERO ======*/

.banner {
	padding-top: 120px;
	padding-bottom: 120px;
	width: 100%;
	display: grid;
	place-items: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	   ),url('../assets/img/banner-min.png');
}

.banner-container {
	padding: 1rem;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.banner-title {
	font-size: 4rem;
	font-weight: 400;
	/* text-transform: uppercase; */
	text-align: center;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-description {
	text-align: center;
	font-weight: 600;
	color: var(--bg-color);
}

.banner-email {
	display: flex;
	justify-content: center;
}

.banner-email-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--second-color-light);
	border-right: 0;
}

.banner-email-input::placeholder {
	color: var(--text-color-light);
}

.banner-email-input:focus,
.banner-email-btn:focus {
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
}

.banner-email-btn {
	background-color: var(--second-color);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
	font-size: 1rem;
}

.banner-text {
	text-align: center;
	color: var(--bg-color);
}

@media (min-width: 768px) {
	.banner {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.banner-title {
		font-size: 5rem;
	}
}

@media (min-width: 1024px) {
	.banner {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}


/*====== SUSCRIPTION ======*/

.explanatory {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	width: 100%;
}

.explanatory-container {
	max-width: 1400px;
	width: 100%;
	display: grid;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

@media (min-width: 1024px) {
	.explanatory-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.explanatory-video  {}

.explanatory-video video {
	width: 100%;
	border-radius: 4px;
}

.explanatory-video iframe {
    width: 100%;
    height: 380px;
    border-radius: 4px;
}

.explanatory-video img {
    width: 40%;
    height: 8rem;
    margin-left: 10rem;
}

.explanatory-description {
	display: flex; 
	flex-direction: column;
	gap: 0.5rem;
    font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 768px) {
    .explanatory-video img {
        height: 4rem;
        margin-left: 6rem;
        margin-top: 0;
    }
    .explanatory-video iframe {
        width: 100%;
        height: 220px;
        border-radius: 4px;
        margin-top: 0;
    }
    .explanatory-description {
        margin-top: 0;
    }
}

.explanatory-title {
	font-size: 2rem;
	font-weight: 800;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.explanatory-idea {
	display: flex;
}

.explanatory-idea-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--first-color-light);
	border-right: 0;
}

.explanatory-idea-input::placeholder {
	color: var(--text-color-light);
}

.explanatory-idea-input:focus,
.explanatory-idea-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.explanatory-idea-btn {
	background-color: var(--first-color-light);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}
/*====== EXPERIENCE =======*/

.experiences-idea {
	display: flex;
}

.experiences-idea-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--second-color-light);
	border-right: 0;
}

.experiences-idea-input::placeholder {
	color: var(--text-color-light);
}

.experiences-idea-input:focus,
.experiences-idea-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.experiences-idea-btn {
	background-color: var(--second-color);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--second-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}
.experiences {
	width: 100%;
	background-color: var(--first-color);
	padding: 4rem 0px;
	border-radius: 4rem;
	margin-bottom: 4rem;
}

.experiences__container {
	display: grid;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/* max-width: 1400px; */
	padding: 2rem;
	gap: 2rem;
}
.experience__rigth {
	background: none;
	border-radius: none;
	overflow: hidden;
	padding: 0;
	box-shadow: none;
}

.experience__left {
	background: none;
	border-radius: none;
	overflow: hidden;
	padding: 0;
	box-shadow: none;
	/* margin: 4rem 2rem 2rem 2rem */
}

.experience__left h3 {
	color: #fffbf7;
    font-family: "Slabo 27px", "Noto Sans";
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: left;
}

.experience__left p {
	color: #fffbf7;
    font-family: "Noto Sans";
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}
.experience__content {
	padding: 1rem;
    color: var(--first-color);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.experiences__container_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 4rem 2rem 2rem 2rem;
}
  .experiences__container_brand > .brand {
    margin-right: 8px;
	margin-top: 6rem;
    margin-bottom: 16px;
}

@media (max-width:  768px) {
    .experiences {
        border-radius: 0;
    }

	.experiences__container_brand > .brand{
		margin: 1rem;
		flex-direction: column;
		column-count: 2;
	}

}

@media (min-width: 768px) {
	.experiences {
        border-radius: 2rem;
    }
	.experiences__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.experiences__container_brand > .brand{
		margin: 1rem;
		flex-direction: column;
		column-count: 2;
	}

	.experience__left {
		margin: 4rem 2rem 2rem 2rem;
	}
}


/*====== FEATURES ======*/

.features {
	width: 100%;
	background-color: var(--second-color-light);
	padding: 4rem 0px;
    border-radius: 4rem;
	margin-bottom: 4rem;
}

.features__container {
	display: grid;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	padding: 2rem;
	gap: 2rem;
}

.feature {
	justify-content: center;
	background: #FFF;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.feature__content {
	padding: 1rem;
    color: var(--first-color);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.feature__content img {
    height: 4rem;
}
.feature__content a {
    color: var(--first-color-light);
}

.feature__img {
	display: flex;
	width: 100%;
	height: 20rem;
	object-fit: contain;
	align-content: center;
	align-items: center;
}


@media (max-width:  768px) {
    .features {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
	.features__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.feature__img img {
		height: 250px;
	}
	.features {
        border-radius: 2rem;
    }
}

@media (min-width: 1024px) {
	.feature__img img {
		height: 250px;
	}
}

/*====== FOOTER ======*/

.footer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
}